.header {
  width: 100%;
position: fixed;
background: #333;
padding: 10px 0;
color: #fff;
top:0;
}



  nav{
  color: #fff;
  padding: 0px 25px;
  height: 32px;
  margin-top: 2px;
  }

.standard-bare {
  background-color: aliceblue;
  width: 30%;
}

h2,
p,
h4 {
  display: inline-block;
  padding: 0 105px;
  margin-top: 2px;
} 


